<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <h1><%= @book.title %></h1>
        <h3><%= @book.author %></h3>
        <p><%= @book.genre %></p>
        <p><%= @book.description %></p>
      </div>
      <div class="col-md-4">
        <h1>Miejsce na zdjecie</h1>
      </div>
    </div>
  </div>
</div>